<!DOCTYPE html>
<html>
    <header>
        <title>Panel</title>

        <link rel="stylesheet" type="text/css" href="/stylesheets/panel_style.css">

        <script type="text/javascript" src="/javascript/permission_manager.js"></script>
        <script type="text/javascript" src="/javascript/editor.js"></script>
        <script type="text/javascript" src="/javascript/utils.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            * {
                margin: 0;
                padding: 0;
            }
            html,body{
                padding: 0;
                width: 100%;
                background-color: #ECF0F5;
            }
            .article {
                margin-top: 1%;
                padding: 1% 1% 1% 3%;
                border-radius: 10px;
                border-top: 2px solid #00A65A;
                border-left: 2px solid #00A65A;
                border-bottom: 2px solid #006335;
                border-right: 2px solid #006335;
            }
            .article:last-child {
                margin-bottom: 3%;
            }
            .mail-info p {
                display: inline-block;
            }
            .scroll::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #B8FFC4;
            }
            .scroll::-webkit-scrollbar {
                width: 10px;
                background-color: #B8FFC4;
            }
            .scroll::-webkit-scrollbar-thumb {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #00A65A;
            }

            .mail a {
                display: block;
            }
            a {
                text-decoration: none !important;
            }
            .mail a:hover {
                transition: background-color 1s;
                background-color: #DEFFE4;
                cursor: pointer;
            }

            .table_border td, .table_border th {
                border: 2px solid black;
                padding: 8px;
            }

            .news-edit-dropdown-items {
                display: block;
                padding: 5px;
                border-bottom: 1px solid black;
                color: white;
                cursor: pointer;
            }

            .news-edit-dropdown-items:hover {
                background-color: wheat;
                color: black;
                transition: 1s;
            }

            .cansee-group {
                padding: 5px;
                color: white;
                background-color: mediumseagreen;
                border: 1px solid black;
                margin-right: 5px;
                cursor: pointer;
            }

            .cansee-group:hover {
                background-color: indianred;
                color: white;
                transition: 1s;
            }
        </style>

        <script>

            /*
            setInterval(function() {
                $(window).ready(function () {
                    $("#turtle").animate({
                        marginTop: '+=10%'
                    }, 1000, function () {
                        $("#turtle").animate({
                            marginTop: '-=10%'
                        }, 250);
                    });

                    var audio = new Audio('/sounds/IamSneakyTurtle.mp3');
                    audio.play();
                });
            }, 1000*10);*/

            var weekObject = <%- JSON.stringify(week) %>;
            var weekPlanning = <%- JSON.stringify(weekPlanning) %>;
            var page = <%- JSON.stringify(page) %>;

            var notTheTeacherPerms;
            var from = 0;
            $(document).ready(function(){
                var itemOptionPerms = ['agenda.additem.note', 'agenda.additem.test', 'agenda.additem.task', 'agenda.additem.preparation', 'agenda.additem.materials', 'agenda.additem.topic'];
                for (var index in itemOptionPerms) {
                    !function outer(index) {
                        hasPermission(itemOptionPerms[index], function (result) {
                            if (result) {
                                var optionElement = document.createElement('option');
                                optionElement.innerHTML = itemOptionPerms[index].replace('agenda.additem.', '');
                                var copyElement = optionElement.cloneNode(true);
                                document.getElementById('agenda-edit-item-window-select').appendChild(copyElement);
                            }
                        });
                    }(index)
                }

                hasPermission('agenda.additem.nottheteacher', function (result) {
                    if (result) {
                        notTheTeacherPerms = true;
                    } else {
                        notTheTeacherPerms = false;
                    }
                });

                hasPermission('admin.panel', function (result) {
                    if (result) {
                        document.getElementById('admin_page_button').style.display = 'initial';
                    }
                });
            });

            var clicks = 0;

            //easter egg: can't touch this
            function playSound() {
                clicks++;
                if (clicks == 5) {
                    var audio = new Audio('/sounds/ucanttouchthis.mp3');
                    audio.play();
                    clicks = 0;
                }
            }

            //change to other module
            function changeModule(id) {
                var divs = document.getElementsByClassName('module');

                if (id == 'messages') {
                    setMailMenuSelectedColor(document.getElementById('menu-item-inbox'));
                }

                for (var i = 0; i < divs.length; i++) {
                    if (divs[i].style.display == 'block') {
                        if (id != divs[i].id) {
                            $("#" + divs[i].id).fadeOut("fast", function () {
                                divs[i].style.display = 'none';
                                $("#" + id).fadeIn("fast", function () {

                                    document.getElementById(id).style.display = 'block';
                                });
                            });
                            break;
                        }
                    }
                }
            }


            window.addEventListener("load", function(){
                //first check if execCommand and contentEditable attribute is supported or not.
                if(document.contentEditable != undefined && document.execCommand != undefined) {
                    alert("HTML5 Document Editing API Is Not Supported");
                } else {
                    document.execCommand('styleWithCSS', false, true);
                }
            }, false);

            function changeFont(font) {
                document.execCommand("fontName", false, font);
            }

            function changeSize(size) {
                document.execCommand("fontsize", false, size);
            }

            function bold() {
                document.execCommand('bold', false, null);
            }

            function italic() {
                document.execCommand('italic', false, null);
            }

            function underlined() {
                document.execCommand('underline', false, null);
            }
            
            function logout() {
                window.location = window.origin + "/logout";
            }
            
            function openAdminPannel() {
                window.location = window.origin + '/admin';
            }

            function closePopup() {
                if (document.getElementById('loader_window').style.display != 'none') {
                    return;
                }

                document.getElementById('background_overlay').style.display = 'none';

                if (document.getElementById('agenda_items_window').style.display != 'none') {
                    var divElement = document.getElementById('agenda_items');

                    var isClear = true;
                    while (isClear) {
                        if (divElement.lastChild.tagName == 'H3') {
                            divElement.lastChild.innerHTML = 'TODO';
                            isClear = false;
                        } else {
                            divElement.removeChild(divElement.lastChild);
                        }

                    }

                    document.getElementById('agenda_items_window').style.display = 'none';
                } else if (document.getElementById('subject_upload_window').style.display != 'none') {
                    document.getElementById('subject_upload_window').style.display = 'none';
                } else if (document.getElementById('subject_addfolder_window').style.display != 'none') {
                    document.getElementById('subject_addfolder_window').style.display = 'none';
                } else if (document.getElementById('subject_note_open_window').style.display != 'none') {
                    document.getElementById('subject_note_open_window').style.display = 'none';
                } else if (document.getElementById('subject_note_add_window').style.display != 'none') {
                    document.getElementById('subject_note_add_window').style.display = 'none';
                } else if (document.getElementById('agenda-edit-item-window').style.display != 'none') {
                    document.getElementById('agenda-edit-item-window').style.display = 'none';
                } else if (document.getElementById('mail_concept_question_window').style.display != 'none') {
                    document.getElementById('mail_concept_question_window').style.display = 'none';
                } else if (document.getElementById('mail_attachment_window').style.display != 'none') {
                    document.getElementById('mail_attachment_window').style.display = 'none';
                } else if (document.getElementById('news_item_edit_window').style.display != 'none') {
                    document.getElementById('news_item_edit_window').style.display = 'none';
                } else if (document.getElementById('mydocuments_folder_window').style.display != 'none') {
                    document.getElementById('mydocuments_folder_window').style.display = 'none';
                } else if (document.getElementById('mydocuments_upload_window').style.display != 'none') {
                    document.getElementById('mydocuments_upload_window').style.display = 'none';
                }
            }

            function openLanguageMenu() {
                if (document.getElementById('language-popup') == undefined) {

                    var divElement = document.createElement('div');
                    divElement.setAttribute('id', 'language-popup');
                    divElement.setAttribute('style', 'position: absolute; background-color: #3C8DBC; height: 100px; width: 50px;');

                    var element = document.getElementById('language_icon');

                    if (element.src != window.origin + '/images/icons/language_nl_icon.png') {
                        addlaguageElement(divElement, '/images/icons/language_nl_icon.png', 'nl');
                    }
                    if (element.src != window.origin + '/images/icons/language_fr_icon.png') {
                        addlaguageElement(divElement, '/images/icons/language_fr_icon.png', 'fr');
                    }
                    if (element.src != window.origin + '/images/icons/language_en_icon.png') {
                        addlaguageElement(divElement, '/images/icons/language_en_icon.png', 'en');
                    }


                    element.parentNode.appendChild(divElement);
                }
            }

            function addlaguageElement(element, src, langue) {
                var imgElement = document.createElement('img');
                imgElement.setAttribute('class', 'logo-img');
                imgElement.setAttribute('src', src);
                imgElement.onclick = function () {
                    var urlSplit = window.location.pathname.split('/');
                    urlSplit.shift();

                    var i;
                    for (var index in urlSplit) {
                        if (urlSplit[index] == 'nl' || urlSplit[index] == 'fr' || urlSplit[index] == 'en') {
                            i = index;
                        }
                    }

                    if (i == undefined) {
                        window.location.href = window.location.href + '/' + langue;
                    } else {
                        urlSplit[i] = langue;
                        var newPath = '';
                        for (var index in urlSplit) {
                            newPath += '/' + urlSplit[index];
                        }

                        window.location.href = window.origin + newPath;
                    }
                }
                element.appendChild(imgElement);
            }

            document.addEventListener('click', function(e) {
                e = e || window.event;
                if (document.getElementById('language-popup') != undefined) {
                    if (e.target.id != 'language-popup' && e.target.id != 'language_icon') {
                        document.getElementById('language-popup').parentNode.removeChild(document.getElementById('language-popup'));
                    }
                }

                if (document.getElementById('news-edit-dropdown-menu') != undefined) {
                    if (e.target.id != 'news-edit-dropdown-menu' && e.target.id != 'news-edit-dropdown-menu') {
                        document.getElementById('news-edit-dropdown-menu').parentNode.removeChild(document.getElementById('news-edit-dropdown-menu'));
                    }
                }
            }, false);

            function showGroups(element) {
                if (element.value.length > 0) {
                    $.getJSON(window.origin + '/json/getgroups/' + element.value, function (data) {
                        if (document.getElementById('news-edit-dropdown-menu') != undefined) {
                            document.getElementById('news-edit-dropdown-menu').parentNode.removeChild(document.getElementById('news-edit-dropdown-menu'));
                        }

                        var divElement = document.createElement('div');
                        divElement.setAttribute('id', 'news-edit-dropdown-menu')
                        divElement.setAttribute('style', 'position: absolute; width: 50%; background-color: mediumseagreen; border: 1px solid black; border-bottom: none;');

                        for (var index in data) {
                            var aElement = document.createElement('a');
                            aElement.setAttribute('class', 'news-edit-dropdown-items');
                            aElement.setAttribute('onclick', 'selectCanSee(this)');
                            aElement.innerHTML = data[index];
                            divElement.appendChild(aElement);
                        }
                        element.parentNode.appendChild(divElement);
                    });
                } else {
                    document.getElementById('news-edit-dropdown-menu').parentNode.removeChild(document.getElementById('news-edit-dropdown-menu'));
                }
            }

            function selectCanSee(element) {
                document.getElementById('news-edit-dropdown-menu').parentNode.removeChild(document.getElementById('news-edit-dropdown-menu'));
                document.getElementById('news-edit-dropdown-field').value = '';

                var groupsElement = document.getElementById('news-edit-added-groups');

                for (var index in groupsElement.children) {
                    if (groupsElement.children[index].innerHTML == element.innerHTML) {
                        return;
                    }
                }

                var aElement = document.createElement('a');
                aElement.setAttribute('class', 'cansee-group');
                aElement.setAttribute('onclick', 'removeCanSeeGroup(this)');
                aElement.innerHTML = element.innerHTML;

                groupsElement.appendChild(aElement);
            }

            function removeCanSeeGroup(element) {
                element.parentNode.removeChild(element);
            }
        </script>
    </header>

    <body>
        <!--
        <div id="turtle" style="top: 0; margin-left: 65%; position: absolute; margin-top: -10%; z-index: 99 !important;">
            <img style="transform: rotate(180deg); height: 40%; width: 40%;" src="/images/easteregg/IamSneakyTurtle.png">
        </div>-->

        <div class="header" style="background-color: #3C8DBC; width: 100%; height: 75px; position: fixed; z-index: 10; padding: 0; top: 0;">
            <div class="logo">
                <a onclick="playSound()">
                    <img class="logo-img" src="/images/logo/logo_scooly.png">
                </a>
            </div>

            <div class="alerts">
                <a style="margin-right: 10%;" onclick="openLanguageMenu()">
                    <div style="position: relative; display: inline-block;">
                        <img id="language_icon" class="logo-img">
                    </div>

                    <script>
                        var urlSplit = window.location.href.split('/');

                        var laguageElement = document.getElementById('language_icon');
                        for (var index in urlSplit) {
                            if (urlSplit[index] == 'nl') {
                                laguageElement.src = '/images/icons/language_nl_icon.png';
                            } else if (urlSplit[index] == 'fr') {
                                laguageElement.src = '/images/icons/language_fr_icon.png';
                            } else {
                                laguageElement.src = '/images/icons/language_en_icon.png';
                            }
                        }

                    </script>
                </a>
                <!--<img class="logo-img" style="margin-right: 10%" src="/images/icons/appointment_icon.png">-->
                <a style="cursor: pointer;" onclick="changeModule('messages')">
                    <div style="position: relative; display: inline-block; margin-right: 10%;">
                        <img class="logo-img" src="/images/icons/message_icon.png">
                        <div id="header_mail_closed" style="position: absolute; bottom: -5px; right: -5px; background-color: red; height: 20px; width: 20px; opacity: 0.8; border-radius: 50%; color: white; text-align: center; display: table;">
                            <script>
                                function mailClosed() {
                                    $.ajax({
                                        url: window.origin + '/json/closedmails',
                                        type: 'GET',
                                        success: function(data) {
                                            var element = document.getElementById('header_mail_closed');

                                            if (data.closed > 0) {
                                                element.style.display = 'table';
                                                element.innerHTML = '<span style="display: table-cell; vertical-align: middle;">' + data.closed + '</span>';
                                            } else {
                                                element.style.display = 'none';
                                            }
                                        }
                                    });
                                }

                                mailClosed();
                                setInterval(mailClosed, 1000*2);
                            </script>
                        </div>
                    </div>
                </a>
                <a onclick="logout()" style="cursor: pointer;"><img class="logo-img" style="margin-right: 10%" src="/images/icons/logout_icon.png"></a>
            </div>
        </div>

        <div class="menu" style="background-color: #222D32; width: 300px; top: 75px; height: 94%; position: fixed; z-index: 20">
            <div>
                <div style="background-color: #1A2226;">
                    <a href="/myprofile" style="vertical-align: middle; display: block;">
                        <div style="padding: 5%;">
                            <p style="color: #4b646f; font-size: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 0;">
                                <img id="profile-img" alt="Profile image"><span title="<%= username %>"><%= username %></span>
                                <script>
                                    var imgElement = document.getElementById('profile-img');
                                    imgElement.setAttribute('src', window.origin + '/avatars/<%= username %>');
                                </script>
                            </p>
                        </div>
                    </a>
                </div>

                <ul class="menu">
                    <li class="menu-item">
                        <a onclick="changeModule('news')"><img class="menu_img" src="/images/icons/home_icon.png">Home</a>
                    </li>

                    <li class="menu-item">
                        <a onclick="changeModule('messages')"><img class="menu_img" src="/images/icons/message_icon.png"><%= object.messages %></a>
                        <!--<a href="https://webmail.migadu.com"><img class="menu_img" src="/images/icons/message_icon.png"><%= object.messages %></a>-->
                    </li>

                    <li class="menu-item">
                        <a onclick="changeModule('schoolschedule')"><img class="menu_img" src="/images/icons/diary_icon.png"><%= object.schoolschedule %></a>
                    </li>

                    <li class="menu-item">
                        <a onclick="changeModule('subject')"><img class="menu_img" src="/images/icons/document_icon.png"><%= object.subjects %></a>
                    </li>

                    <li class="menu-item">
                        <a onclick="changeModule('mydocuments')"><img class="menu_img" src="/images/icons/document_icon.png"><%= object.documents %></a>
                    </li>

                    <li id="admin_page_button" class="menu-item" style="display: none;">
                        <a onclick="openAdminPannel()"><img class="menu_img" src="/images/icons/admin_panel_icon.png">Settings</a>
                    </li>
                </ul>
            </div>
        </div>

        <div style="margin-left: 300px; margin-top: 75px; padding: 50px; min-width: 750px;">
            <% include templates/news.ejs %>

            <% include templates/messages.ejs %>

            <% include templates/schoolschedule.ejs %>

            <% include templates/subject.ejs %>

            <% include templates/mydocuments.ejs %>

        </div>

        <div id="background_overlay" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; display: none;" onclick="closePopup()">
            <div style="position: fixed; top: 75px; left: 300px; right: 0; bottom: 0; background: rgba(0,0,0,0.75);">
            </div>
        </div>

        <div id="news_item_edit_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div id="News editor" style="padding: 0 5% 3% 5%;">
                    <h3>News editor</h3>

                    <input type="text" id="news-edit-id" style="display: none;">

                    <input type="text" autocomplete="OFF" id="news-edit-title" style="background-color: #1A2226; outline: 0; padding: 5px; border: 1px solid black; width: 50%; color: white; margin-bottom: 1%;" placeholder="Title"><br>

                    <div id="news-edit-textbox" style="margin-bottom: 1%;">
                        <script>
                            generateEditor(document.getElementById('news-edit-textbox'), 'news-edit-description', 'news-edit-content', 'description')
                        </script>
                    </div>


                    <div style="margin-bottom: 1%;">
                        <div id="news-edit-added-groups" style="margin-bottom: 1%;">

                        </div>

                        <div id="news-edit-dropdown" style="position: relative;">
                            <input id="news-edit-dropdown-field" type="text" oninput="showGroups(this)" style="background-color: #1A2226; outline: 0; padding: 5px; border: 1px solid black; width: 50%; color: white;" placeholder="Can see">
                        </div>
                    </div>

                    <button onclick="submitEditArticle()" style="background-color: #1A2226; border: 1px solid black; padding: 5px; width: 50%; outline: 0; color: white;">Submit</button>
                </div>
            </div>
        </div>

        <div id="agenda_items_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div id="agenda_items" style="padding: 0 5% 3% 5%;">
                    <h3>TODO</h3>
                </div>
            </div>
        </div>

        <div id="agenda-edit-item-window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div id="agenda_item" style="padding: 0 5% 3% 5%;">
                    <h3>Item editor</h3>

                    <form id="agenda-edit-item-window-form" method="POST">
                        <div id="agenda-edit-item-window-header">
                            <p>Type</p>
                            <select id="agenda-edit-item-window-select" onchange="addGroupSelector('agenda-edit-item-window-select', 'agenda-edit-item-window-group-name')" name="type"></select>

                            <p>Date</p>
                            <input type="date" id="agenda-edit-item-window-date" name="delivery_date" oninput="checkPeriod(this, 'agenda-edit-item-window-period')" value="">

                            <p>Period</p>
                            <select id="agenda-edit-item-window-period" onchange="changeClass(this, 'agenda-edit-item-window-date', 'agenda-edit-item-window-class')" name="period">
                            </select>
                        </div>

                        <p>Title</p>
                        <input type="text" id="agenda-edit-item-window-title" name="title" maxlength="30" placeholder="Title">

                        <div id="agenda-edit-item-window-group-name">
                            <p>Class</p>
                            <input type="text" id="agenda-edit-item-window-class" name="group_name" placeholder="Class" readonly>
                        </div>

                        <input type="text" style="display: none;" id="agenda-edit-item-window-item-id" name="id">

                        <input type="submit" onclick="commitItemForm()" value="Submit">

                        <script>
                            generateEditor(document.getElementById('agenda-edit-item-window-group-name'), 'agenda-edit-item-window-description', 'agenda-edit-item-window-content', 'description')
                        </script>
                    </form>
                </div>
            </div>
        </div>

        <div id="subject_upload_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Upload a document</h3>

                    <form method="POST" ref="uploadForm" action="/panel/uploadsubjectfile" encType="multipart/form-data">
                        <input type="text" id="subject_upload_path" name="path" style="display: none;">
                        <input type="file" name="file">

                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>

        <div id="subject_addfolder_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Upload a document</h3>

                    <form id="subject_folder_form" method="POST" action="/panel/addfolder">
                        <input type="text" id="subject_folder_path" name="path" style="display: none;">
                        <input type="text" id="subject_folder_name" name="folder">

                        <input onclick="addFolderFormSubmit()" type="submit">
                    </form>
                </div>
            </div>
        </div>

        <div id="subject_note_open_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3 id="subject_note_open_window_file"></h3>

                    <h5 id="subject_note_open_window_title" style="margin-left: 1%; border: 1px solid black; width: 20%; padding: 1%;"></h5>

                    <div id="subject_note_open_window_description" style="margin-left: 1%; border: 1px solid black; padding: 0.5%;"></div>

                    <button id="subject_note_open_window_edit" style="display: none; background-color: orange; border: none; margin-left: 1%; margin-top: 5px; padding: 0.5%;">Edit note</button>
                    <button id="subject_note_open_window_remove" style="display: none; background-color: red; border: none; margin-left: 1%; margin-top: 5px; padding: 0.5%;">Remove note</button>
                    <script>
                        hasPermission("subject.note.edit", function (result) {
                            if (result) {
                                document.getElementById('subject_note_open_window_edit').style.display = 'initial';
                            }
                        });

                        hasPermission("subject.note.remove", function (result) {
                            if (result) {
                                document.getElementById('subject_note_open_window_remove').style.display = 'initial';
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div id="subject_note_add_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Add a note</h3>

                    <form method="POST" action="/panel/addnote">
                        <input type="text" name="path" id="subject-note-add-path" style="display: none;">
                        <input type="text" name="id" id="subject-note-add-id" style="display: none;">

                        <input type="text" autocomplete="OFF" name="title" id="subject-note-add-title" style="background-color: #1A2226; outline: 0; padding: 5px; border: 1px solid black; width: 50%; color: white; margin-bottom: 1%;" placeholder="Title"><br>

                        <div id="subject-note-add-textbox">
                            <script>
                                generateEditor(document.getElementById('subject-note-add-textbox'), 'subject-note-add-description', 'subject-note-add-content', 'description')
                            </script>
                        </div>
                        <!--<input type="text" name="description" id="subject-note-add-description" placeholder="Description">--><br>

                        <input type="checkbox" id="subject-note-add-checkbox" name="public"><br>

                        <input type="submit" onclick="setupAddNoteForm(this)" style="color: white; border: 1px solid black; background-color: #1A2226; outline: 0; padding: 5px; width: 50%;"><br>
                    </form>
                </div>
            </div>
        </div>

        <div id="mail_concept_question_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Do you wanne save this mail?</h3>

                    <button onclick="yesConcept()" style="border: 0; outline: 0; background-color: #00A65A; width: 50%; padding: 1%; float: left;">YES</button>
                    <button onclick="noConcept()" style="border: 0; outline: 0; background-color: #E50000; width: 50%; padding: 1%;">NO</button>
                </div>
            </div>
        </div>

        <div id="loader_window" style="position: fixed; top: calc(50% - 100px); left: calc(50% - 100px); display: none; z-index: 99999;">
            <div style="height: 200px; width: 200px; position: fixed;">
                <div id="loader"></div>
            </div>
        </div>

        <div id="mail_attachment_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Attachments</h3>

                    <div style="margin: 5%;">
                        <p id="mail-upload-progress-text" style="text-align: center">Progress 0%</p>
                        <div style="width: 100%; height: 10px; border-radius: 5px; border: 2px solid black;">
                            <div id="mail-upload-progress-bar" style="width: 0; height: 100%; background-color: #0e90d2;"></div>
                        </div>
                    </div>

                    <button onclick="showUploadMenu()" style="outline: 0; border: 2px solid black; background-color: #0e90d2; color: white; border-radius: 25px; padding: 5px 15px 5px 15px;">Add attachment</button>

                    <input id="mail-upload-input" onchange="updateMailAttachment(this)" type="file" style="display: none;" multiple="multiple">

                    <ul id="mail-upload-files" style="text-decoration: none;">

                    </ul>
                </div>
            </div>
        </div>

        <script>
            if (page.length > 0) {
                var pageArgs = page.split('/');

                if (pageArgs[0] == 'subject') {
                    changeModule('subject');

                    if (pageArgs.length > 1) {
                        var path = '';
                        for (var i in pageArgs) {
                            if (i > 2) {
                                path += '/' + pageArgs[i];
                            }
                        }

                        toDirectory(pageArgs[1], pageArgs[2], path);
                    } else {
                        changeModule(pageArgs[0]);
                    }
                } else {
                    changeModule(page);
                }
            }

            function setupAddNoteForm(element) {
                document.getElementById('subject-note-add-content').value = document.getElementById('subject-note-add-description').innerHTML;

                element.submit();
            }

            function showUploadMenu() {
                $('#mail-upload-input').click();
            }

            function showMyUploadMenu() {
                $('#mydocuments-upload-input').click();
            }

            function updateMailAttachment(element) {
                var files = element.files;

                if (files.length > 0) {
                    var formData = new FormData();

                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];

                        formData.append('uploads', file, file.name);
                    }

                    $.ajax({
                        url: '/upload',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data){
                            for (var index in data) {
                                var i = mailAttachments.indexOf(data[index]);
                                if (!(i != -1)) {
                                    mailAttachments[mailAttachments.length] = data[index];

                                    var liElement = document.createElement('li');
                                    liElement.setAttribute('style', '');
                                    liElement.innerHTML = '<a onclick="removeMailAttribute(this)">' + data[index] + '</a>';

                                    document.getElementById('mail-upload-files').appendChild(liElement);
                                }
                            }
                        },
                        xhr: function() {
                            var xhr = new XMLHttpRequest();

                            xhr.upload.addEventListener('progress', function(evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = evt.loaded / evt.total;
                                    percentComplete = parseInt(percentComplete * 100);

                                    document.getElementById('mail-upload-progress-text').innerHTML = 'Progress ' + percentComplete + '%';
                                    document.getElementById('mail-upload-progress-bar').style.width = percentComplete + '%';

                                    if (percentComplete === 100) {
                                        document.getElementById('mail-upload-progress-text').innerHTML = 'Done';
                                    }
                                }
                            }, false);

                            return xhr;
                        }
                    });
                }
            }

            function removeMailAttribute(element) {
                $.ajax({
                    url: '/upload/remove/' + encodeURIComponent(element.innerHTML),
                    type: 'GET',
                    success: function (data) {
                        if (data == 'success') {
                            element.parentNode.parentNode.removeChild(element.parentNode);

                            var i = mailAttachments.indexOf(element.innerHTML);
                            if (i != -1) {
                                mailAttachments.splice(i, 1);
                            }
                        }
                    }
                });
            }
        </script>

        <div id="mydocuments_folder_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Add folder</h3>

                    <input id="mydocuments-folder-input" type="text" style="border: 1px solid black; outline: 0; padding: 5px; width: 50%; margin-bottom: 1%;" placeholder="Folder name">

                    <button onclick="submitAddFolder()" style="outline: 0; border: 2px solid black; background-color: #0e90d2; color: white; padding: 5px; width: 50%;">Submit</button>
                </div>
            </div>
        </div>

        <div id="mydocuments_upload_window" style="position: fixed; top: 125px; left: 350px; right: 50px; margin: 3% 3% 0 3%; min-width: 750px; max-height: 500px; display: none; z-index: 99999;">
            <div style="background-color: white; border: 5px solid #00A65A; overflow-y: scroll; z-index: 99999;">
                <div style="margin: 1% 3% 1% 3%;">
                    <h3>Upload file</h3>

                    <div style="margin: 5%;">
                        <p id="mydocuments-upload-progress-text" style="text-align: center">Progress 0%</p>
                        <div style="width: 100%; height: 10px; border-radius: 5px; border: 2px solid black;">
                            <div id="mydocuments-upload-progress-bar" style="width: 0; height: 100%; background-color: #0e90d2;"></div>
                        </div>
                    </div>

                    <button onclick="showMyUploadMenu()" style="outline: 0; border: 2px solid black; background-color: #0e90d2; color: white; border-radius: 25px; padding: 5px 15px 5px 15px;">Add file</button>

                    <input id="mydocuments-upload-input" onchange="submitMyFile(this)" type="file" style="display: none;" multiple="multiple">

                    <ul id="mydocuments-upload-files" style="text-decoration: none; list-style-type: none;">

                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>