<style>

    #message_table {
        border-collapse: collapse;
        width: 100%;
        height: 400px;
    }

    #message_table tr, #message_table td {
        border: 2px black solid;
    }

    #message_header {
        background-color: #222D32;
        color: white;
        display: block;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        vertical-align: middle;
        border-bottom: 2px solid black;
    }

    #mail_send {
        height: 100%;
        width: 100%;
        background-color: #0e90d2;
    }

    #mail_send_title {
        background-color: #7aba7b;
        margin: 0;
        border-bottom: 1px solid lightgrey;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        vertical-align: middle;
    }

    #mail_send_body {
        height: calc(100% - 30px);
        background-color: #387038;
        width: 100%;
        padding: 1% 3% 3% 3%;
        color: white;
    }

    #mail_send_body form input::placeholder {
        color: white;
    }

    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid black;
        background-color: mediumseagreen;
        border-bottom: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        border-collapse: collapse;
    }

    .autocomplete-item {
        border-bottom: 1px solid black;
        color: white;
    }

    .autocomplete-item:hover {
        background-color: #0e90d2;
        transition: background-color 2s linear;
        color: black;
    }

    .mail_name_block {
        padding: 5px;
        display: block;
        color: white;
        cursor: pointer;
        background-color: #00A65A;
    }

    .mail_name_block:hover {
        background-color: indianred;
        transition: 500ms;
        color: white;
    }

    .inbox_mails_item:hover {
        background-color: #008944;
        transition: 1s;
    }
</style>

<div class="module" id="messages" style="background-color: white; border-radius: 10px; min-height: 500px; overflow: hidden; display: none;">
    <div style="height: 5px; background-color: #00A65A;"></div>
    <p style="margin: 1% 0 0 3%; font-size: 25px"><%= object.messages %></p>

    <div style="margin: 1% 3% 1% 3%;">
        <table id="message_table">
            <tr>
                <td valign="top" style="width: 20%; background-color: #222D32;">
                    <ul id="message_menu" style="list-style-type: none;">
                        <li class="menu-item">
                            <a id="menu-item-inbox" onclick="inbox.toMenuItem(this)"><img class="mail-menu-img" src="/images/icons/inbox_icon.png"><%= object.inbox %></a>
                        </li>
                        <li class="menu-item">
                            <a id="menu-item-send" onclick="openSend(this)"><img class="mail-menu-img" src="/images/icons/post send.png"><%= object.send %></a>
                        </li>
                        <li class="menu-item">
                            <a id="menu-item-concept" onclick="concept.toMenuItem(this)"><img class="mail-menu-img" src="/images/icons/pencil.png"><%= object.concept %></a>
                        </li>
                        <li class="menu-item">
                            <a id="menu-item-sent" onclick="sent.toMenuItem(this)"><img class="mail-menu-img" src="/images/icons/post send.png"><%= object.sended %></a>
                        </li>
                        <li class="menu-item">
                            <a id="menu-item-removed" onclick="removed.toMenuItem(this)"><img class="mail-menu-img" src="/images/icons/trash can.png"><%= object.removed %></a>
                        </li>
                    </ul>
                </td>

                <td valign="top" style="height: 100%;">
                    <div id="message_content" style="height: 100%;">
                        <div id="inbox" style="height: 100%;">
                            <div class="inbox_scroll" style="height: 100%; background-color: #00DF79; max-height: 400px; overflow-y: scroll;">
                                <table id="inbox_mails" style="width: 100%; border: 0;">
                                    <tr style="border: 0; border-bottom: 1px solid black; background-color: #00A65A;">
                                        <th style="width: 80%; border: 0; padding-left: 5%; border-right: 1px solid black;"><%= object.name %></th>
                                        <th style="border: 0; text-align: center;"><%= object.date %></th>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div id="mail_viewer" style="display: none; height: 100%;">
                            <div style="background-color: #00DF79; height: 100%; max-height: 750px; overflow-y: scroll;">
                                <div style="background-color: #00A65A; height: 30px; font-size: 20px; border-bottom: 1px solid white;">
                                    <p style="padding-left: 10px; margin: 0; display: inline-block;">Mail vieuwer</p>
                                    
                                    <a id="mail_viewer_remove_button" style="float: right; margin-right: 5%;"><img style="height: 20px; width: auto;" src="/images/icons/trash_can_black.png"></a>
                                </div>

                                <div style="margin: 2% 5% 2% 5%;">
                                    <div style="border: 1px solid black; padding: 5px; display: inline-block;">
                                        <p id="mail_viewer_from" style="margin: 0;"></p>
                                        <hr style="margin: 0; color: black;">
                                        <p id="mail_viewer_to" style="margin: 0;"></p>
                                    </div>

                                    <button id="mail_viewer_attachment" style="background-color: #2F2F2F; outline: 0; border: 0; color: white; display: none; padding: 5px; float: right;"><a style="color: white;">Download attachment(s)</a></button>

                                    <h4 id="mail_viewer_title" style="border: 1px solid black; padding: 5px;"></h4>

                                    <div id="mail_viewer_body" style="border: 1px solid black; padding: 5px; min-height: 150px; max-height: 300px; overflow-y: scroll;"></div>

                                    <button id="mail_viewer_edit_concept" style="margin-top: 1%; border: none; outline: 0; background-color: #00A65A; padding: 1%; width: 50%; text-align: center; display: none;">Edit concept</button>
                                    <button id="mail_viewer_reply" style="margin-top: 1%; border: none; outline: 0; background-color: #00A65A; padding: 1%; width: 50%; text-align: center; display: none;">Reply</button>
                                </div>
                            </div>
                        </div>

                        <div id="mail_send" style="display: none;">
                            <div id="mail_send_title">
                                <p><%= object.sendmail %></p>
                            </div>

                            <div id="mail_send_body">
                                <div>
                                    <div style="border: 1px solid black; width: 50%; display: inline-block; padding: 5px;">
                                        <div style="display: table; width: 100%;">
                                            <div class="autocomplete" style="display: table-cell;">
                                                <div id="mail_send_to" style="display: flex;">
                                                   <textarea id="mail_send_to" rows="1" maxlength="50" style="flex: 1; padding: 5px; resize: none; border: 0; outline: 0; background: 0;" oninput="getAutoComplete(this, 'mail_send_to', 'mail_send_to_autocomplete', 'to')" placeholder="<%= object.to %>"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button onclick="addAtachment()" style="border: 1px solid black; width: 25%; display: inline-block; padding: 5px; float: right; background-color: #2F2F2F; outline: 0;">Add document</button>

                                    <br>

                                    <button onclick="openBCCAndCC()" style="display: inline-block; cursor: pointer; color: white; outline: 0; border: 0; background-color: #2F2F2F; padding: 5px; ">bcc and cc</button><br>

                                    <div id="mail_bcc_and_cc" style="display: none;">
                                        <div style="border: 1px solid black; width: 50%; display: inline-block; padding: 5px;">
                                            <div style="display: table; width: 100%;">
                                                <div class="autocomplete" style="display: table-cell;">
                                                    <div id="mail_send_cc" style="display: flex;">
                                                        <textarea id="mail_send_cc" rows="1" maxlength="50" style="flex: 1; padding: 5px; resize: none; border: 0; outline: 0; background: 0;" oninput="getAutoComplete(this, 'mail_send_cc', 'mail_send_cc_autocomplete', 'cc')" placeholder="CC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="border: 1px solid black; width: 50%; display: inline-block; padding: 5px;">
                                            <div style="display: table; width: 100%;">
                                                <div class="autocomplete" style="display: table-cell;">
                                                    <div id="mail_send_bcc" style="display: flex;">
                                                        <textarea id="mail_send_bcc" rows="1" maxlength="50" style="flex: 1; padding: 5px; resize: none; border: 0; outline: 0; background: 0;" oninput="getAutoComplete(this, 'mail_send_bcc', 'mail_send_bcc_autocomplete', 'bcc')" placeholder="BCC"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="text" autocomplete="OFF" id="mail_send_form_title" style="background: none; border: 1px solid black; width: 50%; margin-top: 1%; outline: 0; padding: 5px;" name="title" placeholder="Title">

                                    <% include utils/editor.ejs %>

                                    <input type="submit" id="mail_send_submit" onclick="sendMailForm()" style="margin-top: 1%; border: none; outline: 0; background-color: #00A65A; padding: 1%; width: 50%; text-align: center;" value="<%= object.mail_send %>">
                                    <input type="button" id="mail_send_concept" onclick="sendConcept()" style="margin-top: 1%; border: none; outline: 0; background-color: #00A65A; padding: 1%; width: 50%; text-align: center;" value="<%= object.addtoconcept %>">

                                    <div id="mail_input_hidden" style="display: none"></div>
                                </div>
                            </div>
                        </div>

                        <div id="concept_mails" style="height: 100%; display: none;">
                            <div style="height: 100%; background-color: #00DF79;">
                                <div class="inbox_scroll" style="height: 100%; background-color: #00DF79; max-height: 400px; overflow-y: scroll;">
                                    <table id="concept_mails_inbox" style="width: 100%; border: 0;">
                                        <tr style="border: 0; border-bottom: 1px solid black; background-color: #00A65A;">
                                            <th style="width: 80%; border: 0; padding-left: 5%; border-right: 1px solid black;">Name</th>
                                            <th style="border: 0; text-align: center;">Date</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="sent_mails" style="height: 100%; display: none;">
                            <div style="height: 100%; background-color: #00DF79;">
                                <div class="inbox_scroll" style="height: 100%; background-color: #00DF79; max-height: 400px; overflow-y: scroll;">
                                    <table id="sent_mails_inbox" style="width: 100%; border: 0;">
                                        <tr style="border: 0; border-bottom: 1px solid black; background-color: #00A65A;">
                                            <th style="width: 80%; border: 0; padding-left: 5%; border-right: 1px solid black;">Name</th>
                                            <th style="border: 0; text-align: center;">Date</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="removed_mails" style="height: 100%; display: none;">
                            <div style="height: 100%; background-color: #00DF79;">
                                <div class="inbox_scroll" style="height: 100%; background-color: #00DF79; max-height: 400px; overflow-y: scroll;">
                                    <table id="removed_mails_inbox" style="width: 100%; border: 0;">
                                        <tr style="border: 0; border-bottom: 1px solid black; background-color: #00A65A;">
                                            <th style="width: 80%; border: 0; padding-left: 5%; border-right: 1px solid black;">Name</th>
                                            <th style="border: 0; text-align: center;">Date</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<script>
    document.addEventListener('click', function(e) {
        e = e || window.event;
        if (document.getElementById('mail_send_to_autocomplete') != undefined) {
            if (e.target.className != 'autocomplete-item') {
                document.getElementById('mail_send_to_autocomplete').parentNode.removeChild(document.getElementById('mail_send_to_autocomplete'));
            }
        } else if (document.getElementById('mail_send_cc_autocomplete') != undefined) {
            if (e.target.className != 'autocomplete-item') {
                document.getElementById('mail_send_cc_autocomplete').parentNode.removeChild(document.getElementById('mail_send_cc_autocomplete'));
            }
        } else if (document.getElementById('mail_send_bcc_autocomplete') != undefined) {
            if (e.target.className != 'autocomplete-item') {
                document.getElementById('mail_send_bcc_autocomplete').parentNode.removeChild(document.getElementById('mail_send_bcc_autocomplete'));
            }
        }
    }, false);

    function AddMails(id, tableId, location) {
        this.element = document.getElementById(id);
        this.id = id;
        this.tableElement = document.getElementById(tableId);
        this.location = location;
        this.mails = [];
        this.mailFrom = 0;

        this.addMails = function (obj, clear) {
            if (clear) {
                clearMails();

                while (this.tableElement.children.length > 1) {
                    this.tableElement.removeChild(this.tableElement.lastChild);
                }
            }

            $.getJSON(window.origin + '/json/getmails/' + obj.mailFrom + '&' + (10+obj.mailFrom) + '&' + obj.location, function (data) {
                console.log(
                    data
                )

                for (var i in data) {
                    var object = data[i];

                    var contains = false;
                    for (var index in obj.mails) {
                        if (obj.mails[index].id == object.id) {
                            contains = true;
                            break;
                        }
                    }

                    if (!contains) {
                        obj.mails[obj.mails.length] = object;
                    }

                    createMail(obj.tableElement, object, obj.id);
                }
            });

            obj.mailFrom += 10;
        }

        this.toMenuItem = function (element) {
            forConcept();

            closeOpenMC();

            this.addMails(this, true);

            this.element.style.display = 'initial';


            setMailMenuSelectedColor(element);
        }
    }

    function clearMails() {
        inbox.mails = [];
        inbox.mailFrom = 0;

        sent.mails = [];
        sent.mailFrom = 0;

        removed.mails = [];
        removed.mailFrom = 0;

        concept.mails = [];
        concept.mailFrom = 0;
    }

    var inbox = new AddMails('inbox', 'inbox_mails', 'INBOX');
    var concept = new AddMails('concept_mails', 'concept_mails_inbox', 'CONCEPT');
    var sent = new AddMails('sent_mails', 'sent_mails_inbox', 'SENT');
    var removed = new AddMails('removed_mails', 'removed_mails_inbox', 'TRASH');

    inbox.addMails(inbox, true);

    function toOpenInbox(id) {
        var object = getInboxObject(id);

        if (object != undefined) {
            if (object.location == 'INBOX') {
                inbox.toMenuItem(document.getElementById('menu-item-inbox'));
                return;
            } else if (object.location == 'CONCEPT') {
                concept.toMenuItem(document.getElementById('menu-item-concept'));
                return;
            } else if (object.location == 'SENT') {
                sent.toMenuItem(document.getElementById('menu-item-sent'));
                return;
            } else if (object.location == 'TRASH') {
                removed.toMenuItem(document.getElementById('menu-item-removed'));
                return;
            }
        }
    }

    function getOpenInbox() {
        if (document.getElementById('inbox').style.display != 'none') {
            return inbox;
        } else if (document.getElementById('concept_mails').style.display != 'none') {
            return concept;
        } else if (document.getElementById('sent_mails').style.display != 'none') {
            return sent;
        } else if (document.getElementById('removed_mails').style.display != 'none') {
            return removed;
        }
    }

    function createMail(tableElement, object, elementId) {
        var trElement = document.createElement('tr');
        trElement.setAttribute('onclick', 'openMail(\'' + elementId + '\', ' + object.id + ')');
        trElement.setAttribute('class', 'inbox_mails_item');
        trElement.setAttribute('style', 'border: 0; ' + (!object.opened ? 'color: #E64C34; font-weight: bold; ' : '') + ' border-bottom: 1px solid grey; cursor: pointer;');

        var td1Element = document.createElement('td');
        td1Element.setAttribute('style', 'padding: 2px; border: 0;');
        td1Element.innerHTML = '<span style="display: block; font-weight: bold; padding-left: 5px;">' + object.from + '</span><span style="display: block; padding-left: 20px;">' + object.title + '</span>';
        trElement.appendChild(td1Element);


        var td2Element = document.createElement('td');
        td2Element.setAttribute('style', 'padding: 2px; border: 0;');
        var date = new Date(object.date);

        var dd;
        if (date.getDate() < 10) {
            dd = '0' + date.getDate();
        } else {
            dd = date.getDate();
        }

        var mm;
        if (date.getMonth()+1 < 10) {
            mm = '0' + (date.getMonth()+1);
        } else {
            mm = (date.getMonth()+1);
        }

        td2Element.innerHTML = dd + '/' + mm + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
        trElement.appendChild(td2Element);

        tableElement.appendChild(trElement);
    }

    function getAutoComplete(element, id, acId, name) {
        $.getJSON(window.origin + '/json/getusers/' + element.value, function (data) {
            if (document.getElementById(acId) != undefined) {
                document.getElementById(acId).parentNode.removeChild(document.getElementById(acId));
            }

            var divElement = document.createElement('div');
            divElement.setAttribute('class', 'autocomplete-items');
            divElement.setAttribute('id', acId);
            element.parentNode.appendChild(divElement);

            for (var i in data) {
                var aElement = document.createElement('a');
                aElement.setAttribute('class', 'autocomplete-item');
                aElement.setAttribute('style', 'display: block; padding: 5px; cursor: pointer;');
                aElement.setAttribute('onclick', 'selectItem(this, \'' + id + '\', \'' + acId + '\', \'' + name + '\')');
                aElement.innerHTML = data[i];
                divElement.appendChild(aElement);
            }
        });
    }

    function selectItem(element, id, acId, name) {
        var divElement = document.getElementById('mail_input_hidden');

        var spanElement = document.getElementById(id);
        spanElement.children[0].value = '';


        var addItem = true;
        for (var i in divElement.children) {
            var child = divElement.children[i];
            if (child.value == element.innerHTML) {
                addItem = false;
            }
        }

        if (addItem) {
            var newSpanElement = document.createElement('span');
            newSpanElement.setAttribute('style', 'display: inline-block; margin-right: 5px; margin-bottom: 5px;');
            var aElement = document.createElement('a');
            aElement.setAttribute('onclick', 'removeSelectedItem(this)');
            aElement.setAttribute('class', 'mail_name_block');
            aElement.innerHTML = element.innerHTML;
            newSpanElement.appendChild(aElement);
            spanElement.parentNode.insertBefore(newSpanElement, spanElement);
        }

        var autoCElement = document.getElementById(acId);
        autoCElement.parentNode.removeChild(autoCElement);

        if (addItem) {
            var inputElement = document.createElement('input');
            inputElement.setAttribute('type', 'text');
            inputElement.setAttribute('name', name);
            inputElement.setAttribute('value', element.innerHTML);
            divElement.appendChild(inputElement);
        }
    }

    function removeSelectedItem(element) {
        element.parentNode.parentNode.removeChild(element.parentNode);

        var divElement = document.getElementById('mail_input_hidden');

        for (var i in divElement.children) {
            var inputElement = divElement.children[i];

            if (inputElement.value == element.innerHTML) {
                divElement.removeChild(inputElement);
            }
        }
    }

    function openBCCAndCC() {
        var element = document.getElementById('mail_bcc_and_cc');

        if (element.style.display == 'none') {
            element.style.display = 'initial';
        } else {
            element.style.display = 'none';
        }
    }

    function getInboxObject(id) {
        var object = {};

        for (var index in inbox.mails) {
            if (inbox.mails[index].id == id) {
                object = inbox.mails[index];
                break;
            }
        }

        for (var index in sent.mails) {
            if (sent.mails[index].id == id) {
                object = sent.mails[index];
                break;
            }
        }

        for (var index in removed.mails) {
            if (removed.mails[index].id == id) {
                object = removed.mails[index];
                break;
            }
        }

        for (var index in concept.mails) {
            if (concept.mails[index].id == id) {
                object = concept.mails[index];
                break;
            }
        }

        return object;
    }

    function openMail(parentId, id) {
        var object = getInboxObject(id);

        if (object != undefined) {
            document.getElementById('mail_viewer_from').innerHTML = 'From: ' + object.from;

            var to = '';
            for (var key in object.header) {
                for (var i in object.header[key]) {
                    if (to.length == 0) {
                        to = object.header[key][i];
                    } else {
                        to += ', ' + object.header[key][i];
                    }
                }
            }

            document.getElementById('mail_viewer_to').innerHTML = 'To: ' + to;

            var attachmentElement = document.getElementById('mail_viewer_attachment');
            attachmentElement.style.display = object.attachment ? 'initial' : 'none';
            if (object.attachment) {
                attachmentElement.children[0].setAttribute('href', window.origin + '/upload/download/' + object.id);
            }

            document.getElementById('mail_viewer_title').innerHTML = object.title;
            document.getElementById('mail_viewer_body').innerHTML = object.body;

            document.getElementById('mail_viewer_edit_concept').style.display = object.location == 'CONCEPT' ? 'initial' : 'none';
            if (object.location == 'CONCEPT') {
                document.getElementById('mail_viewer_edit_concept').setAttribute('onclick', 'openConcept(' + object.id + ')');
            }

            console.log((object.location != 'INBOX' ? 'none' : 'initial'))
            document.getElementById('mail_viewer_reply').style.display = (object.location != 'INBOX' ? 'none' : 'initial');
            document.getElementById('mail_viewer_reply').setAttribute('onclick', 'reply(' + object.id + ')');

            console.log(object.location)
            document.getElementById('mail_viewer_remove_button').setAttribute('onclick', 'removeMail(' + object.id + ', \'' + object.location + '\')');

            document.getElementById(parentId).style.display = 'none';
            document.getElementById('mail_viewer').style.display = 'block';

            $.ajax({
                url: window.origin + '/json/openmail/' + id,
                type: 'GET'
            });
        }
    }

    function reply(id) {
        var object = getInboxObject(id);

        if (object != undefined) {
            newMail = true;

            closeOpenMC();

            clearSendHeader();

            setMailMenuSelectedColor(document.getElementById('menu-item-send'));

            id = object.id;

            if (object.header.to != undefined) {
                for (var index in object.header.to) {
                    addHeaderItem(object.header.to[index], 'mail_send_to', 'to');
                }
            }

            if (object.header.cc != undefined) {
                for (var index in object.header.cc) {
                    addHeaderItem(object.header.cc[index], 'mail_send_cc', 'cc');
                }
            }

            if (object.header.bcc != undefined) {
                for (var index in object.header.bcc) {
                    addHeaderItem(object.header.bcc[index], 'mail_send_bcc', 'bcc');
                }
            }

            document.getElementById('mail_send_form_title').value = object.title + (object.title.indexOf('(reply)') >= 0 ? '' : '(reply)');
            var date = new Date(object.date);

            var dd;
            if (date.getDate() < 10) {
                dd = '0' + date.getDate();
            } else {
                dd = date.getDate();
            }

            var mm;
            if (date.getMonth()+1 < 10) {
                mm = '0' + (date.getMonth()+1);
            } else {
                mm = (date.getMonth()+1);
            }

            document.getElementById('mail_send_content_div').innerHTML = '<br><br><hr style="margin: 0;"><p>' + object.title + ' <span style="color: black; margin-left: 5%; margin-right: 5%;">from:' + object.from + '</span> ' + dd + '/' + mm + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes() + '</p><br>' + object.body;

            document.getElementById('mail_send').style.display = 'block';
        }
    }
    
    function clearSendHeader() {
        var toInputElement = document.getElementById('mail_send_to');
        while (toInputElement.parentNode.firstChild.id != 'mail_send_to') {
            toInputElement.parentNode.removeChild(toInputElement.parentNode.firstChild);
        }

        var ccInputElement = document.getElementById('mail_send_cc');
        while (ccInputElement.parentNode.firstChild.id != 'mail_send_cc') {
            ccInputElement.parentNode.removeChild(ccInputElement.parentNode.firstChild);
        }

        var bccInputElement = document.getElementById('mail_send_bcc');
        while (bccInputElement.parentNode.firstChild.id != 'mail_send_bcc') {
            bccInputElement.parentNode.removeChild(bccInputElement.parentNode.firstChild);
        }

        document.getElementById('mail_bcc_and_cc').style.display = 'none';

        var hiddenElement = document.getElementById('mail_input_hidden');
        while (hiddenElement.firstChild) {
            hiddenElement.removeChild(hiddenElement.firstChild);
        }
    }

    function addHeaderItem(username, id, name) {
        var divElement = document.getElementById('mail_input_hidden');
        var spanElement = document.getElementById(id);


        var newSpanElement = document.createElement('span');
        newSpanElement.setAttribute('style', 'display: inline-block; margin-right: 5px; margin-bottom: 5px;');
        var aElement = document.createElement('a');
        aElement.setAttribute('onclick', 'removeSelectedItem(this)');
        aElement.setAttribute('class', 'mail_name_block');
        aElement.innerHTML = username;
        newSpanElement.appendChild(aElement);
        spanElement.parentNode.insertBefore(newSpanElement, spanElement);

        var inputElement = document.createElement('input');
        inputElement.setAttribute('type', 'text');
        inputElement.setAttribute('name', name);
        inputElement.setAttribute('value', username);
        divElement.appendChild(inputElement);
    }

    function openConcept(id) {
        var object = getInboxObject(id);

        if (object != undefined) {
            newMail = false;

            closeOpenMC();

            clearSendHeader();

            mailConceptId = object.id;

            $.ajax({
                url: window.origin + '/upload/concept/' + id,
                type: 'GET',
                success: function (files) {
                    if (object.header.to != undefined) {
                        for (var index in object.header.to) {
                            addHeaderItem(object.header.to[index], 'mail_send_to', 'to');
                        }
                    }

                    if (object.header.cc != undefined) {
                        for (var index in object.header.cc) {
                            addHeaderItem(object.header.cc[index], 'mail_send_cc', 'cc');
                        }
                    }

                    if (object.header.bcc != undefined) {
                        for (var index in object.header.bcc) {
                            addHeaderItem(object.header.bcc[index], 'mail_send_bcc', 'bcc');
                        }
                    }

                    document.getElementById('mail_send_submit').setAttribute('onclick', 'sendMailForm(' + object.id + ')');
                    document.getElementById('mail_send_concept').setAttribute('onclick', 'sendConcept(' + object.id + ')');

                    document.getElementById('mail_send_form_title').value = object.title;
                    document.getElementById('mail_send_content_div').innerHTML = object.body;

                    document.getElementById('mail_send').style.display = 'block';
                    setMailMenuSelectedColor(document.getElementById('menu-item-send'));


                    for (var index in files) {
                        mailAttachments[mailAttachments.length] = files[index];

                        var liElement = document.createElement('li');
                        liElement.setAttribute('style', '');
                        liElement.innerHTML = '<a onclick="removeMailAttribute(this)">' + files[index] + '</a>';

                        document.getElementById('mail-upload-files').appendChild(liElement);
                    }
                }
            });
        }
    }

    function removeMail(id, location) {
        $.ajax({
            url: window.origin + '/json/deletemail/' + id + '&' + location,
            type: 'GET',
            success: function () {
                toOpenInbox(id);
            }
        });
    }

    function getMail(uid) {
        for (var index in mails) {
            if (mails[index].UID == uid) {
                return mails[index];
            }
        }

        return false;
    }

    function closeOpenMC() {
        var contentElement = document.getElementById('message_content');

        for (var index in contentElement.children) {
            var element = contentElement.children[index];

            if (element.style.display != 'none') {
                element.style.display = 'none';
                break;
            }
        }
    }

    function setMailMenuSelectedColor(element) {
        var ulElement = document.getElementById('message_menu');
        for (var index in ulElement.children) {
            if (!isNaN(index)) {
                var aElement = ulElement.children[index].children[0];

                if (aElement != undefined) {
                    if (aElement.style.backgroundColor.length > 0) {
                        aElement.style.backgroundColor = '';
                    }
                }
            }
        }

        element.style.backgroundColor = '#374C55';
    }

    function openSend(element) {
        forConcept();

        closeOpenMC();

        setMailMenuSelectedColor(element);

        clearSendHeader();

        mailConceptId = undefined;

        document.getElementById('mail_send_form_title').value = '';
        document.getElementById('mail_send_content_div').innerHTML = '';

        document.getElementById('mail_send').style.display = 'initial';
    }

    function sendMailForm(id) {
        newMail = true;

        var inputTitleElement = document.getElementById('mail_send_form_title');
        var mailBodyElement = document.getElementById('mail_send_content_div');

        var list = getMailHeaderArray();

        var toNames = list[0];
        var ccNames = list[1];
        var bccNames = list[2];

        document.getElementById('background_overlay').style.display = 'initial';
        document.getElementById('loader_window').style.display = 'initial';

        $.ajax({
            url: window.origin + '/panel/sendmail' + (id == undefined ? '' : '/' + id),
            type: 'POST',
            data: {
                to: JSON.stringify(toNames),
                cc: JSON.stringify(ccNames),
                bcc: JSON.stringify(bccNames),
                title: inputTitleElement.value,
                body: mailBodyElement.innerHTML
            },
            success: function () {
                inbox.toMenuItem(document.getElementById('menu-item-inbox'));

                document.getElementById('background_overlay').style.display = 'none';
                document.getElementById('loader_window').style.display = 'none';
            }
        });
    }


    $('.inbox_scroll').scroll(function(e) {
        if(e.target.scrollHeight - $(this).scrollTop() == $(this).outerHeight()) {
            var object = getOpenInbox();

            object.addMails(object, false);
        }
    });

    function getMailHeaderArray() {
        var toNames = [];
        var ccNames = [];
        var bccNames = [];

        var element = document.getElementById('mail_input_hidden');

        for (var index in element.children) {
            var inputElement = element.children[index];

            if (inputElement.name == 'to') {
                toNames[toNames.length] = inputElement.value;
                continue;
            } else if (inputElement.name == 'cc') {
                ccNames[ccNames.length] = inputElement.value;
                continue;
            } else if (inputElement.name == 'bcc') {
                bccNames[bccNames.length] = inputElement.value;
                continue;
            }
        }

        return [toNames, ccNames, bccNames];
    }

    function sendConcept(id) {
        var list = getMailHeaderArray();

        var toNames = list[0];
        var ccNames = list[1];
        var bccNames = list[2];

        conceptSendPost(toNames, ccNames, bccNames, document.getElementById('mail_send_form_title').value, document.getElementById('mail_send_content_div').innerHTML, id);
    }

    function conceptSendPost(toNames, ccNames, bccNames, title, body, id) {
        $.ajax({
            url: window.origin + '/panel/sendconcept' + (id == undefined ? '' : '/' + id),
            type: 'POST',
            data: {
                to: JSON.stringify(toNames),
                cc: JSON.stringify(ccNames),
                bcc: JSON.stringify(bccNames),
                title: title,
                body: body
            },
            success: function () {

            }
        });
    }

    var conceptObject = {};
    var newMail = true;
    var mailConceptId;

    function forConcept() {
        if (document.getElementById('mail_send').style.display != 'none') {
            if (document.getElementById('mail_send_form_title').value != '') {
                if (!newMail) {
                    conceptObject = {};

                    var list = getMailHeaderArray();

                    var toNames = list[0];
                    var ccNames = list[1];
                    var bccNames = list[2];

                    if (mailConceptId != undefined) {
                        conceptObject['id'] = mailConceptId;
                    }
                    conceptObject['to_names'] = toNames;
                    conceptObject['cc_names'] = ccNames;
                    conceptObject['bcc_names'] = bccNames;
                    conceptObject['title'] = document.getElementById('mail_send_form_title').value;
                    conceptObject['body'] = document.getElementById('mail_send_content_div').innerHTML;

                    document.getElementById('mail_concept_question_window').style.display = 'initial';
                    document.getElementById('background_overlay').style.display = 'initial';
                }
            }
        }
    }

    function noConcept() {
        conceptObject = {};

        closePopup();

        $.ajax({
            url: window.origin + '/upload/clear',
            type: 'GET'
        });
    }

    function yesConcept() {
        conceptSendPost(conceptObject.to_names, conceptObject.cc_names, conceptObject.bcc_names, conceptObject.title, conceptObject.body, conceptObject.id);

        closePopup();
    }

    var mailAttachments = [];
    function addAtachment() {
        document.getElementById('mail_attachment_window').style.display = 'initial';
        document.getElementById('background_overlay').style.display = 'initial';
    }
</script>